// Define SCSS variables
$primary-color: #0275d8;
$secondary-color: #f8f9fa;
$font-family: 'Arial', sans-serif;
$hover-color: #0056b3;
$btn-primary-color: #0275d8;
$btn-primary-hover: #0056b3;

// Import Bootstrap's SCSS
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $secondary-color;
  font-family: $font-family;
}

.navbar {
  background-color: #343a40;
  
  .navbar-brand, .nav-link {
    color: white !important;
    
    &:hover {
      color: $hover-color !important;
    }
  }

  .ml-auto {
    margin-left: auto !important;
  }
}

.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-side, .signup-side {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-side {
  background-color: #f0ad4e;
}

.movies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.movie-card {
  border: 1px solid $primary-color;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.btn-primary {
  background-color: $btn-primary-color;
  
  &:hover {
    background-color: $btn-primary-hover;
  }
}
